.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.App__title {
  margin-bottom: 20px;
}

.App__button {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 6px;
  color: #eee;
  background: #125;
  border: none;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.App__button:hover {
  background: #237;
}